/*small screen below*/
@media (max-width:768px){

    .container-navbar.no-1{
        display: none;
    }
    .container-navbar.no-1.phone{
        display: block;
    }

}
/*large screen below*/
@media (min-width:768px) {
    .container-navbar.no-1{
        display: block;
    }
    .container-navbar.no-1.phone{
        display: none;
    }
    .navbar-custom li{
        margin: 0 .5rem;
    }
}
@media (min-width: 992px){
    .pt-30{
        margin-top: 30px;
        border-left: 1px dashed #dedede;
    }
}

body{
    background-color: #fafafa;
}

h6{
    width: 100%;
    box-sizing: border-box;
}

/*green navbar*/
.collapse{
    height: 100%;
}
.navbar-nav{
    height: 100%;
}
.nav-item.nav-link.text-white{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #29b078;
}
.nav-item.nav-link.text-white:hover{
    border-bottom: #ffffff 2px solid;
}
nav.d-flex{
    padding: 0 10vw;
}
nav.navbar{
    padding: 0;
}
.navbar-brand{
    color: #29b078;
    font-size: 0.8rem;
}
/*green navbar*/
p{
    margin: 0;
}

footer{
    background-color: #29b078;
    font-size: .7rem;
}
.container-6{
    padding: 3vh 10vw;
}
.container-6 .underline:hover{
    text-decoration: underline;
}
.copyright{
    margin-top: 1rem;
    border-top: #ffffff 1px solid;
}
.text-large{
    font-size: 3rem;
}
.text-middle{
    font-size: 2rem;
}
a{
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
footer a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    text-decoration: none;
    color: #ffffff;
}
a:active{
    text-decoration:none;
}/* 指正在点的链接*/