ul{
    height: 100%;
}
.container-navbar.no-1{
    width: 100%;
    padding: 0 10vw;
}
/*green navbar*/
.collapse{
    height: 100%;
}
.navbar-nav{
    height: 100%;
}
.nav-item.nav-link.text-white{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #29b078;
}
.nav-item.nav-link.text-white:hover{
    border-bottom: #ffffff 2px solid;
}
nav.d-flex{
    padding: 0 10vw;
}
nav.navbar{
    padding: 0;
}
.navbar-brand{
    color: #29b078;
    font-size: 0.8rem;
}
/*green navbar*/
.container-carousel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.text-large{
    font-size: 3rem;
}
.text-middle{
    font-size: 2rem;
}
body{
    background-color: #fafafa;
}
.main{
    width: 100%;
    padding: 0 10vw 10vw 10vw;
}
.section-1>div,
.section-2>div{
    margin-bottom: 1vh;
    border-radius: 5px;
    padding: 2.5rem 2rem;
}
.company-intro{
    border-bottom: #fafafa 2px solid;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.tudou-intro{
    border-bottom: #fafafa 2px solid;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.dot{
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem 0 25%;
}
.main .container{
    margin-top: 5vh;
}
.col .row{
    justify-content: center;
    margin: 1vh .5vw 0 .5vw;
}
.col .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.pt-50{
    padding-top: 50px;
}
span{
    display: block;
    background: url("./img/css_sprites.png");
}
p{
    margin: 0;
}
.bg-1 {
    width: 26px; height: 26px;
    background-position: -5px -38px;
}
.bg-2 {
    width: 26px; height: 26px;
    background-position: -5px -72px;
}
.bg-3 {
    width: 26px; height: 26px;
    background-position: -5px -105px;
}
.bg-4 {
    width: 43px; height: 62px;
    background-position: -10px -338px;
}
.bg-5 {
    width: 60px; height: 62px;
    background-position: -10px -185px;
}
.bg-6 {
    width: 52px; height: 62px;
    background-position: -10px -260px;
}
.bg-7 {
    width: 13px; height: 13px;
    margin-right: 10px;
    background-position: -10px -10px;
}
.bg-8 {
    width: 32px; height: 30px;
    margin-top: 1vh;
    background-position: -10px -145px;
}
.bg-9 {
    width: 125px; height: 125px;
    background-position: -10px -901px;
}
.bg-10 {
    width: 125px; height: 125px;
    background-position: -10px -1049px;
}
.bg-11 {
    width: 125px; height: 125px;
    background-position: -10px -1362px;
}
.bg-12 {
    width: 125px; height: 125px;
    background-position: -10px -616px;
}
.bg-13 {
    width: 100px; height: 100px;
    background-position: -10px -1543px;
}
.bg-14 {
    width: 100px; height: 100px;
    background-position: -10px -1205px;
}
.bg-15 {
    width: 120px; height: 100px;
    background-position: -10px -410px;
}
.bg-16 {
    width: 100px; height: 100px;
    background-position: -10px -1747px;
}
.bg-17 {
    width: 100px; height: 100px;
    background-position: -10px -757px;
}
.bg-18 {
    width: 92px; height: 100px;
    background-position: -10px -488px;
}
.bg-22{
    width: 120px; height: 60px;
    background-position: -10px -1637px;
}
.bg-23{
    width: 90px; height: 30px;
    background-position: -10px -1712px;
}
.jumbotron{
    background-image: url("./img/20.png");
    background-size: cover;
    margin: 0;
    width: 100%;
    height: auto;
}
h6{
    margin: 2vh 0;
}
div.border.border-success{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ffffff;
}
.text-secondary{
    font-size: .8rem;
}
.container-2 .row{
    height: 10vh;
}
.container-3 .row .col{
    background-color: #ffffff;
    margin: 0 1vw;
    padding: 1rem;
}
.container-4{
    width: 100%;
}
.container-4 .row{
    height: 15vh;
    width: 100%;
    margin: 0;
}
footer{
    background-color: #29b078;
    font-size: .7rem;
}
.container-6{
    padding: 3vh 10vw;
}
.container-6 .underline:hover{
    text-decoration: underline;
}
.copyright{
    margin-top: 1rem;
    border-top: #ffffff 1px solid;
}