img {
  width: auto;
  height: 20px;
  margin: 0 25px;
  flex-shrink: 0; }

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  body div.container {
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column; }
    body div.container header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      padding-left: 20px;
      background-color: #1ba2ea;
      width: 100%;
      height: 3.2rem; }
      body div.container header div {
        color: #ffffff; }
    body div.container div.form {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      height: 90vh;
      background-color: #eff0f4; }
      body div.container div.form form {
        width: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3rem;
        align-items: center;
        margin-bottom: 0.5rem;
        background-color: #ffffff; }
      body div.container div.form button {
        border: 0;
        background-color: #1ba2ea;
        color: #ffffff;
        margin: 1rem;
        border-radius: 10px;
        width: auto;
        height: 3rem;
        font-size: 1rem; }
      body div.container div.form div.between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 2rem;
        padding: 0 1rem; }
        body div.container div.form div.between a {
          color: #999999; }
      body div.container div.form div.justify-content-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4rem;
        color: #000000; }
      body div.container div.form div.center {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        body div.container div.form div.center div {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2rem .3rem; }

input {
  border: 0;
  border-left: gainsboro 1px solid;
  padding-left: 25px;
  background-color: #ffffff;
  width: 80%;
  height: 1rem;
  outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

::placeholder {
  color: #999999; }

.bg-cancel {
  width: 25px;
  height: 25px;
  background: url("css_sprites.png") -10px -10px;
  margin-right: 2rem; }

.bg-iphone {
  width: 30px;
  height: 40px;
  background: url("css_sprites.png") -10px -114px;
  margin: 0 1rem; }

.bg-safe {
  width: 30px;
  height: 32px;
  background: url("css_sprites.png") -10px -62px;
  margin: 0 1rem; }

.bg-qq {
  width: 48px;
  height: 48px;
  background: url("css_sprites.png") -10px -238px; }

.bg-weibo {
  width: 48px;
  height: 48px;
  background: url("css_sprites.png") -10px -306px; }

.bg-weixin {
  width: 48px;
  height: 48px;
  background: url("css_sprites.png") -10px -374px; }

.deco {
  margin: 10px;
  width: 80px;
  height: .5px;
  border: 0.5px solid #999999; }

/*# sourceMappingURL=css_11.css.map */
