$main-color: #5fc0cd;
@mixin flexbox($direction){
  display: flex;
  flex-direction: $direction;
}
@mixin size($width, $height){
  width: $width;
  height: $height;
}

body{
  margin: 0;
  background-color: #eff0f4;
}
header{
  background-color: $main-color;
  @include size(100vw, 3.2rem);
  color: #ffffff;
  position: fixed;
  top: 0; left: 0;
}
ul{
  @include flexbox(row);
  justify-content: space-between;
  padding: 0 25px;
  margin: 1rem 0 0 0;
  li{
    list-style-type: none;
  }
}
img{
  @include size(auto, 20px);
  margin: 0 25px;
  flex-shrink: 0;
}
body{
  div{
    @include flexbox(column);
    div{
      @include flexbox(column);
      margin-top: 3.6rem;
      form{
        @include flexbox(row);
        @include size(100vw, 3rem);
        align-items: center;
        margin-bottom: 0.5rem;
        background-color: #ffffff;
      }
      button{
        border:0;
        background-color: $main-color;
        color: #ffffff;
        margin-top: 1.5rem;
        @include size(100%, 3rem);
        font-size: 1rem;
      }
      a{
        color: $main-color;
        padding: 1vh 25px;
        text-align: right;
      }
    }
  }
}
input{
  border: 0;
  border-left: gainsboro 1px solid;
  padding-left: 25px;
  background-color: #ffffff;
  @include size(80%, 1rem);
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
  color: #e5e8ea;
}
.bold{
  font-weight: bold;
}
