$main-color: #5fc0cd;
@mixin flexbox($direction){
  display: flex;
  flex-direction: $direction;
}
@mixin size($width, $height){
  width: $width;
  height: $height;
}

body{
  margin: 0;
  background-color: #eff0f4;
}
header{
  background-color: $main-color;
  @include size(100vw, 3.2rem);
  color: #ffffff;
  position: fixed;
  top: 0; left: 0;
}
ul{
  padding: 0 25px;
  margin: 1rem 0 0 0;
}
li{
  list-style-type: none;
}
.column{
  @include flexbox(column);
}
.space-between{
  @include flexbox(row);
  justify-content: space-between;
}
.row{
  @include flexbox(row);
}
.login{
  @include size(100vw, 3rem);
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
}
button{
  background-color: $main-color;
  @include size(100%, 3rem);
  margin: 1vh 0;
  border: 0;
  font-size: 1rem;
}
.container1{
  margin-top: 3.6rem;
}
img{
  @include size(auto, 20px);
  margin: 0 25px;
  flex-shrink: 0;
}
input{
  border: 0;
  border-left: gainsboro 1px solid;
  padding-left: 25px;
  background-color: #ffffff;
  @include size(80%, 1rem);
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
  color: #e5e8ea;
}
button{
  border:0;
  height:3rem;
  background-color: $main-color;
  color: #ffffff;
  margin-top: 1.5rem;
}
.right{
  color: $main-color;
  margin: 0;
  padding: 0 25px;
  text-align: right;
}
.bold{
  font-weight: bold;
}
