$main-color: #1ba2ea;
$grey: #999999;
@mixin flexbox($direction){
  display: flex;
  flex-direction: $direction;
}
@mixin size($width, $height){
  width: $width;
  height: $height;
}
img{
  @include size(auto, 20px);
  margin: 0 25px;
  flex-shrink: 0;
}
body{
  margin: 0;
  @include flexbox(row);
  justify-content: center;
  div.container{
    width: 100%;
    max-width: 780px;
    @include flexbox(column);
    header{
      @include flexbox(row);
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      padding-left: 20px;
      background-color: $main-color;
      @include size(100%, 3.2rem);
      div{
        color: #ffffff;
      }
    }
    div.form{
      @include flexbox(column);
      padding-top: 1rem;
      height: 90vh;
      background-color: #eff0f4;
      form{
        width: 100%;
        @include flexbox(row);
        @include size(100%, 3rem);
        align-items: center;
        margin-bottom: 0.5rem;
        background-color: #ffffff;
      }
      button{
        border:0;
        background-color: $main-color;
        color: #ffffff;
        margin: 1rem;
        border-radius: 10px;
        @include size(auto, 3rem);
        font-size: 1rem;
      }
      div.between{
        @include flexbox(row);
        justify-content: space-between;
        box-sizing: border-box;
        @include size(100%, 2rem);
        padding: 0 1rem;
        a{
          color: $grey;
        }
      }
      div.justify-content-center{
        @include flexbox(row);
        justify-content: center;
        margin-top: 4rem;
        color: #000000;
      }
      div.center{
        @include flexbox(row);
        justify-content: center;
        div{
          @include flexbox(column);
          align-items: center;
          margin: 2rem .3rem;
        }
      }
    }
  }
}
input{
  border: 0;
  border-left: gainsboro 1px solid;
  padding-left: 25px;
  background-color: #ffffff;
  @include size(80%, 1rem);
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
  color: $grey;
}
.bg-cancel {
  width: 25px; height: 25px;
  background: url('css_sprites.png') -10px -10px;
  margin-right: 2rem;
}
.bg-iphone {
  width: 30px; height: 40px;
  background: url('css_sprites.png') -10px -114px;
  margin: 0 1rem;
}
.bg-safe {
  width: 30px; height: 32px;
  background: url('css_sprites.png') -10px -62px;
  margin: 0 1rem;
}
.bg-qq {
  width: 48px; height: 48px;
  background: url('css_sprites.png') -10px -238px;
}
.bg-weibo {
  width: 48px; height: 48px;
  background: url('css_sprites.png') -10px -306px;
}
.bg-weixin {
  width: 48px; height: 48px;
  background: url('css_sprites.png') -10px -374px;
}
.deco{
  margin: 10px;
  width: 80px;
  height: .5px;
  border: .5px solid $grey;
}